# Blacklist files/folders in same directory as the .gitignore file.
/*

# Whitelist some files.
!.gitignore
!alacritty/
alacritty/*
!alacritty/alacritty.toml
!atuin/
atuin/*
!atuin/config.toml
!bat/
bat/*
!bat/config
!fish/
fish/*
!fish/config.fish
!nvim/
nvim/*
!nvim/init.lua
!nvim/lazy-lock.json
