layout {

    focus-ring {
        active-color   "#ea9a97"
        inactive-color "#232136"
        urgent-color   "#eb6f92"
    }

    border {
        active-color   "#ea9a97"
        inactive-color "#232136"
        urgent-color   "#eb6f92"
    }

    shadow {
        color "#23213670"
    }

    tab-indicator {
        active-color   "#ea9a97"
        inactive-color "#bb1913"
        urgent-color   "#eb6f92"
    }

    insert-hint {
        color "#ea9a9780"
    }
}

recent-windows {
    highlight {
        active-color "#ea9a97"
        urgent-color "#eb6f92"
    }
}
